@charset "utf-8";

/* INFO - WINDOW*/

.info_window {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: $white;
	@include elevation(1);
	z-index: 101;

	> span#title {
		font-weight: bold;
	}

	> div {
		display: flex;
	}

	> div {
		> #length, > #height, > #difficulty, > #time {
			display: block;
			width: 150px;
			padding: 5px 10px 5px 10px;
		}
	}
}