@charset "utf-8";

/* INFO - WINDOW*/

.info_window {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: $white;
	@include elevation(1);

	> span#title {
		font-weight: bold;
	}

	> div {
		display: flex;
	}
}