@charset "utf-8";

/* DEVICE WIDTHS */
$br-max-smartphone: 760px;
$br-max-tablet: 980px;

$max-smartphone: 450px;
$tablet-width-min: 760px;

/* HEADER */
$header-height: 50px;
$header-inner-height: 30px;
$header-inner-top: 10px;