@charset "utf-8";

/* PAGE ROUTE - AR */
#routearsection {
    background: url('../image/demo/karte_ar.jpg');
    height: calc(100vh - 50px);
    width: 100%;
	
	> #arroute_range{	
		text-align: center;
		width: 60%;

		> #route_range_ar {
	        &::-webkit-slider-thumb {
	            background-color: $green;
	        }
	        width: 100%;
	    } 

	    > #route_range_ar_label1, #route_range_ar_label2 {
	        color: $white;
	        text-align: left;
	    }
	}
}

/* PAGE RADAR - AR*/
#radarsection_ar{
	background: url("../image/demo/furtwangen.jpg") no-repeat;
	height: calc(100vh - 50px);

	> .walk_button {
		position: relative;
		background-color: $secondary-color;
		color: $white;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		text-align: center;
		line-height: 35px;
	}
}


