#highscoresection {
    @include background();
    
    color: $white;
    
    > #world, #facebook {
        @media screen and (min-width: $br-max-smartphone) {
            
        }
        
         > .row {
            border-top: 1px solid $white;
            
            &:first-child {
                border: none;
            }
            
            > .position {
                >.inner {
                    background-color: $green;
                }
            }
            > .name {
                > a {
                    color: $white;    
                }
            }
            > .ep {
            }
        }
    }
    
    > #world {
        @media screen and (min-width: $br-max-smartphone) {
            
        }
        > .headline {
            color: $white;
        }
    }
    
    > #facebook {
        @media screen and (min-width: $br-max-smartphone) {
            
        }
        
        > .headline {
            color: $white;
        }
        > .row > .position > .inner {
            background-color: $blue;
        }
    }
}