@charset "utf-8";

#loginsection {
    @include background();
    
    > #area_benutzername, #area_password {
        > label {
            background-color: $green;
        }
    }
    
    > #area_remember > label {
        > .check {
            
        }
        > .text {
            color: $font-primary-color;
        }
    }
        
    > #area_password > #passwort_vergessen {
        color: $white;
    }
        
    > #area_login > #login {
        background-color: $primary-color;
        @include elevation(2);
        color: $font-primary-color;
    }
}