/* PAGE RADAR - STANDARD */
#radarsection {
    background: $radar-background;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    > #radar_position {
        background-color: $green;
    }
    
    > #radar_range {
        &::-webkit-slider-thumb {
            background-color: $green;
        }
    }
    
    > #radar_range_label1, #radar_range_label2 {
        color: $white;
    }
}