@charset "utf-8";

/* colors */
$green: #8bc34a;
$green2: #dcedc8;

$white: #ffffff;

$blue: rgb(26,35,126);


/* define important color variables */
$primary-color: $green;
$headline-color: $green2;

$font-primary-color: $white;