/* INFO - WINDOW*/

.info_window {
	position: absolute;
	padding: 10px;
	background-color: $white;
	@include elevation(1);

	> p > span#title {
		font-weight: bold;
	}

	> div {
		display: flex-block;
	}
}