@charset "utf-8";

#detailsection > #detailbody > #detailbodyinfo {

    > #detailimage {
        &:before, &:after {
            background-color: rgba(0,0,0,0.3);
            color: $font-primary-color;
        }
        
        > .hikeimage {
            > .img {
                background: url('../image/demo/route2_1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }

    > .content {
        > .desktop {
            > .image, .map, .height {
                background-size: cover;
            }

            > .image {
                background-image: url('../image/demo/route2_1.jpg');
            }

            > .map {
                background-image: url('../image/demo/karte_navigation.jpg');
            }

            > .height {
                background-image: url('../image/demo/hoehenprofil.png');
            }
        }
    }
}