@charset "utf-8";

#detailsection > #detailbody > #detailbodyinfo {
    padding-top: 20px;
	text-align: center;
    
    > p {
        margin-top: 0;
    }

    > #detailimage {
            &:before, &:after {
                background-color: rgba(0,0,0,0.3);
                color: $font-primary-color;
            }
            
            &:before {
                
            }
            
            &:after {
                
            }
            
            > .hikeimage {
                > .img {
                    background: url('../image/demo/route2_1.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }
        }
}