@charset "utf-8";

#detailsection > #detailbody > #detailbodyinfo {
	text-align: center;
    background-color: rgba(0,0,0,0.1);
    min-height: calc(100vh - 100px);
    width: 100%;
    position: relative;

    @media screen and (min-width: $br-max-tablet) {
        text-align: left;
        min-height: calc(100vh - 50px);
    }

    
    > p {
        margin-top: 0;
    }

    > #detailimage {
        width: 100%;
        position: relative;
        height: 200px;

        @media screen and (min-width: $br-max-tablet) {
            display: none;
        }
        
        &:before, &:after {
            font-family: Ionicons;
            position: absolute;
            background-color: rgba(0,0,0,0.1);
            display: inline-block;
            z-index: 3;
            text-align: center;
            vertical-align: middle;
            font-size: 30px;
            cursor: pointer;
            top: 82px;
            width: 35px;
            height: 38px;
            line-height: 35px;
            border-radius: 50%;
            padding-top: 2px;
            
            @media screen and (min-width: $br-max-smartphone) {
                font-size: 35px;
                padding: 0 !important;
                top: 0px;
                width: 7%;
                min-width: 40px;
                max-width: 80px;
                height: 200px;
                line-height: 200px;
                border-radius: 0;
            }
        }
        
        &:before {
            padding-right: 5px;
            content: '';
            left: 5px;
            
            @media screen and (min-width: $br-max-smartphone) {
                left: 0;
            }
        }
        &:after {
            padding-left: 5px;
            content: '';
            right: 5px;
            
            @media screen and (min-width: $br-max-smartphone) {
                right: 0;
            }
        }
        > .hikeimage {
            width: 100%;
            overflow: hidden;
            
            > .img {
                background: $white url('../image/image.svg');
                background-size: 100% 100%;
                width: 100%;
                height: 200px;
            }
        }
    }

    > .content {
        width: 100%;
        @include elevation(1);
        background-color: $white;
        min-height: calc(100vh - 300px);
        display: inline-block;
        
        @media screen and (min-width: $br-max-smartphone) {
            max-width: 86%;
        }
            
        @media screen and (min-width: $br-max-tablet) {
            display: flex;
            flex-direction: row;
            max-width: 100%;
            width: calc(100% - 180px);
            margin-left: 90px;
            min-height: calc(100vh - 50px);
        }

        > .text {
            padding: 0 20px 0 20px;
            text-align: left;

            @media screen and (min-width: $br-max-tablet) {
                padding: 0 60px 0 60px;
                width: calc(50% - 120px);
            }
        }

        > .desktop {
            display: none;
            width: 50%;
            background-color: $white;

            @media screen and (min-width: $br-max-tablet) {
                display: block;
            }
            > .image, .map, .height {
                width: 100%;
                height: calc((100vh - 50px) / 3);
                background-image: url('../image/image.svg');
                background-position: 50% 50%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }

    }
}