@charset "utf-8";

#detailsection > #detailbody > #detailbodymap {
    background-image: url('../image/image.svg');
	background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
}